<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Market</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Market</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:3000/api/v1/categories/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
              href="http://localhost:3000/api/v1/orders-wishlist/wishlist">My wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/api/v1/orders-wishlist/orders">My order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#creatorsModal">Creators</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="modal fade" id="creatorsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Creators</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <div class="row row-gap-2 ">
          <div class="col-sm-12 col-xxl-12 col-xxl-12 col-md-12 col-xl-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Nodirbek Savbatov</h5>
                <p class="card-text">Full Satack Developer</p>
                <a href="#" class="btn btn-primary">Message</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xxl-12 col-xxl-12 col-md-12 col-xl-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Ravshanbek Jaloliddinov</h5>
                <p class="card-text">Product Menejment</p>
                <a href="#" class="btn btn-primary">Message</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xxl-12 col-xxl-12 col-md-12 col-xl-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Temurbek Saburov</h5>
                <p class="card-text">Back End Developer</p>
                <a href="#" class="btn btn-primary">Message</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>